{% extends 'base.html' %}
{% load static%}
{% block title %}Home{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static '/css/home.css' %}"> {% endblock css %}


{% block content %}

{% if status == '9' %}
        <div class="modal d-flex flex-column justify-content-center align-items-center" id="modal">
            <div class="modal-content p-3">
                <div class="row" style="display: flex;justify-content:flex-end;"><button onclick="fechar()" class="col-1 d-flex justify-content-center align-items-center" id="close" style="display: flex; ">X</button></div>
                <div class="row d-flex align-items-center justify-content-center">
                    <h1 id="Title" style="text-align: center;">Bem Vindo</h1>
                </div>
                <div class="row mt-5 d-flex gap-3 p-5">
                    <p>
                        Acabou de chegar {{request.user.username}}? Seja bem vindo ao BTT, um espaço para a compra de automóveis de nossa incrível marca. Sobre a sigla, reflita e decida-se sobre o que ela significa.
                    </p>
                    <hr>
                    <p>
                        Explore todas as nossas páginas e usufrua da experiência que proporcionamos.
                    </p>
                </div>
            </div>
        </div>
    {% endif %}

<header class="head" style="top:20px !important; height: 3rem !important; position: fixed; width: 100%;z-index: 9000;">
    <nav class="row" id="navbar"
        style="max-height: 3rem !important; margin-left: 7rem !important;margin-right: 7rem !important;">
        <a href="{% url 'home' %}" class="col-1" id="brand"
            style="display: flex;align-items:center; justify-content:center;">BTT</a>
        <div class="col-9" id="middleButtons" style="display: flex; align-items: center;justify-content: center;">
            <ul class="barItems"
                style="display: flex; gap: 2rem; flex-direction: row; align-items: center; justify-content: center;">

            </ul>
        </div>
        <div class="col-2" id="account_box" style="display: flex;justify-content: flex-end;flex-direction: row;">
            <div class="account"
                style="width:100%; display: flex; align-items:center; justify-content:center; gap: 1rem;"><a
                    style="height: 100%;display: flex; align-items:center; justify-content:center;" href="{% url 'carros' %}">Shop</a>
            </div>
            {% if request.user.is_authenticated %}
            <div class="account"
                style="width:100%; display: flex; align-items:center; justify-content:center; gap: 1rem;"><a
                    style="height: 100%;display: flex; align-items:center; justify-content:center;"
                    href="{% url 'exit' %}">Sair</a>
                <div class="userlogo">{{request.user.username.0}}</div>
            </div>

            {% else %}
            <div class="account" style="display: flex; align-items:center; justify-content:center;"><a
                    style="width: 100%;height: 100%;display: flex; align-items:center; justify-content:center;"
                    href="{% url 'login' %}">Account</a></div>
            {% endif %}
        </div>
        <div class="col-1" id="menu_box" style="display: none;justify-content: flex-end;">
            <div class="navEnd" id="menucompact"><img style="width: auto;height:3rem;" src="{%static '/imgs/menu.png'%}"
                    alt=""></div>
        </div>
    </nav>
</header>

<div class="radios" style="bottom: 70px !important; width: 100% !important;">
    <label for="a" class="ctmRadio">
        <input type="radio" id="a" name="rad" onclick="aa();" checked>
        <span class="disp"></span>
    </label for='b'>
    <label for="b" class="ctmRadio">
        <input type="radio" id="b" onclick="bb();" name="rad">
        <span class="disp"></span>
    </label for='c'>
    <label class="ctmRadio">
        <input type="radio" id="c" onclick="cc();" name="rad">
        <span class="disp"></span>
    </label>
</div>

<div class="content" id="slider">
    <section class="main" style="background-image: url('{{randomCar.foto.url}}');" id="sla">
        <div class="center_message">
            <div class="tInfo">
                <h2 style="text-align: center; width: 100%;">{{randomCar.modelo}}</h2>
                <p style="text-align: center;width:100%">{{randomCar.marca}} favorite releases</p>
            </div>
            <div class="buttonArea">
                <a class="d_button" href="{% url 'carro' randomCar.pk %}">Comprar</a>
                <a class="d_button" href="">Ver Inventório</a>
            </div>
        </div>
        
    </section>
    <section class="main" style="background-image: url('{{randomCar1.foto.url}}');" id="sla">
        <div class="center_message">
            <div class="tInfo">
                <h2 style="text-align: center; width: 100%;">{{randomCar1.modelo}}</h2>
                <p style="text-align: center;width:100%">{{randomCar1.marca}} favorite releases</p>
            </div>
            <div class="buttonArea">
                <a class="d_button" href="{% url 'carro' randomCar1.pk %}">Comprar</a>
                <a class="d_button" href="">Ver Inventório</a>
            </div>
        </div>
    </section>
    <section class="main" style="background-image: url('{{randomCar2.foto.url}}');" id="sla">
        <div class="center_message">
            <div class="tInfo">
                <h2 style="text-align: center; width: 100%;">{{randomCar1.modelo}}</h2>
                <p style="text-align: center;width:100%">{{randomCar1.marca}} favorite releases</p>
            </div>
            <div class="buttonArea">
                <a class="d_button" href="{% url 'carro' randomCar2.pk%}">Comprar</a>
                <a class="d_button" href="">Ver Inventório</a>
            </div>
        </div>
    </section>
</div>

<script src="{% static '/scripts/home.js'%}"></script>
{% endblock content %}