@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

*{
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box !important;
    font-family: "Orbitron", Arial, Helvetica, sans-serif;
}

:root {
    --gradientBtn: linear-gradient(90deg, rgba(63,112,225,1) 0%, rgba(46,10,69,1) 100%);
    --gradientCreateAccount: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(163,149,149,1) 50%, rgba(23,20,20,1) 75%, rgba(0,0,0,1) 100%);
}

.barItem {
    padding: 5px;
    min-width: 8rem;
    max-width: 10rem;
    width: 100%;
    height: 2rem;
    list-style: none !important;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

#brand {
    font-size: larger;
    font-weight: 900;
    filter: drop-shadow(3px 3px 3px #666);
}

.barItem:hover {
    background: rgb(162, 162, 162, 0.3)
}

.barItem a {
    border-radius: 5px;
    width: 100%;
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: medium;
    text-align: center;
}

#account{
    font-weight: 600;
    font-size:medium;
    height: 3rem;
    width: 3rem;
}

#account a{
    height: 2.8rem;
    text-decoration: none;
    color: black;
    position: relative;
}

#account a:after{
    content: "";
    position: absolute;
    background-color: black;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -3px;
    transition: 0.3s;
}

#account a:hover:after{
    width: 100%;
}

#middleButtons {
    overflow: hidden;
}

@media only screen and (max-width: 1300px) {
    #middleButtons {
        display: none !important;
    }
    #navbar {
        display: flex;
        justify-content: space-between;
    }
    #account_box{
        display: none !important;
    }
    #menu_box {
        display: flex !important;
    }
}

/*login*/

.container{
    width: 100%;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    height: 100%;
}

.def_input {
    border: none;
    background-color: #F5F5F5;
    height: 2.5rem;
    border-radius: 3rem;
}

.def_label {
    color: #666;
    font-weight: 700;
    font-size:small;
}

#def_ipt{
    background-image: var(--gradientBtn);
    background-size: 900%;
    color: white;
    background-position: left;
    transition: background-position 0.8s;
}

#def_ipt:hover {
    background-position: right;
}


#create_account {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: var(--gradientCreateAccount);
    background-size: 900%;
    background-position: left;
    border: 3px solid black;
    transition: background-position 0.8s, color 0.4s;
}

#create_account:hover {
    background-position: right;
    color: white;
}
